@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=DynaPuff:wght@400..700&family=Kablammo&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Rubik+Wet+Paint&display=swap');

ul li {
  @apply px-3
}

.bg-primary{
  background-color: rgb(57, 153, 190)
}

.mob-nav{
   @apply  fixed top-10 left-0 bg-linked  w-full h-1/4 
}

.mob-nav li {
  @apply text-center border-b-2 h-full 
}

.bg-secoundary{
  background-color: rgb(135,206,235);
}



html {
  scroll-behavior: smooth;
}

